* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

header {
  /* margin: 5px; */
  /* background-image: url("./assets/4ab2d3cb3ad0d74955bcd4f5d49be7ce.gif");
  background-size: cover;
  background-position: center; */
  width: calc(100%);
  height: 100vh;
  background-color: lightslategray;
}

.header-text {
  border: 2px solid white;
  text-align: center;
  z-index: 1;
  padding: 20px 50px;
  background-color: rgba(200, 200, 200, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
}

.header-text h1 {
  font-size: 60px;
  font-family: "Asul", sans-serif;
}

.header-text p {
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
}

.video-container {
  position: relative;
  height: fit-content;
}

.video-container .overlay-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 0, 37, 0.4);
}
.video-container video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

nav {
  border-radius: 2px;
  position: fixed;
  z-index: 1;
  width: calc(100% - 10px);
  margin: 5px 5px 0 5px;
  padding: 6px 50px;
  background-color: rgba(255, 255, 255, 1);
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  /* background-color: lightslategrey; */
  width: 40px;
  height: 40px;
}

.logo img {
  width: 100%;
}

.menu-btn {
  color: purple;
  font-size: 32px;
  align-self: center;
  cursor: pointer;
}

.menu-btn i {
  transition: all 0.3s;
}

.menu-btn:hover i {
  transform: translateY(5px);
}

main {
  /* margin: 5px; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
  /* gap: 5px; */
}

main div {
  position: relative;
  width: 100%;
}

main div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vignette {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(
    circle,
    rgba(200, 200, 200, 0.1) 0%,
    rgba(0, 0, 0, 0.4) 70%
  );
}

.overlay {
  color: white;
  width: 100%;
  font-family: "Kanit", sans-serif;
  position: absolute;
  opacity: 1;
  bottom: 5px;
  left: 0;
}

.overlay h1 {
  margin-bottom: -15px;
  padding-left: 20px;
  font-size: 22px;
  position: relative;
  transition: all 0.5s;
}

.overlay p {
  position: relative;
  opacity: 0;
  padding-left: 20px;
  font-size: 14px;
  transition: all 0.5s;
}

.overlay h1 em {
  font-style: normal;
  font-weight: lighter;
}

main div:hover .overlay h1 {
  opacity: 1;
  transform: translateY(-25px);
}

main div:hover .overlay p {
  opacity: 1;
  transform: translateY(-10px);
}

footer {
  display: flex;
  flex-direction: column;
  background-color: black;
}

footer h1 {
  font-family: "Asul", sans-serif;
  font-size: 24px;
  margin: 50px auto 0;
  color: white;
  letter-spacing: 2px;
}

.socials {
  margin: 40px auto 0;
  color: white;
  font-size: 32px;
}

.socials span:not(:first-child) {
  margin-left: 20px;
}

footer p {
  font-family: "Montserrat", sans-serif;
  margin: 20px auto 50px;
  color: white;
  font-size: 16px;
}

footer p a {
  text-decoration: none;
  color: white;
}

footer p img {
  display: inline-block;
  width: 30px;
  transform: translateY(10px);
}

footer p em {
  font-size: 20px;
  font-style: normal;
}

@media screen and (max-width: 769px) {
  main {
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  }
}

@media screen and (max-width: 500px) {
  main {
    grid-template-columns: 1fr;
  }

  nav {
    border-radius: 25px;
  }
}
